*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    font-family: 'Chakra Petch', sans-serif;
    color: #999;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/******************************** Estilos Header ********************************/
header{
    display: flex;
    min-height: 70px;
    /* background-color: rgb(47, 15, 112); */
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 10px 10px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 70px;
    margin-right: 10px;
}
.logo h2{
    color: #d8d8d8;
}

.menu a{
    color: #d8d8d8;
    font-weight: 600;
    font: 10px "Chakra Petch",sans-serif;
    text-transform: uppercase;
    padding: 4px 14px;
    margin-right: 5px;
    text-decoration: none;
    letter-spacing: 0.1em;
    height: 44px;
    border: 2px solid #d8d8d8;
    border-radius: 22px;
    transition: border 0.2s ease 0.1s, color 0.2s ease 0.1s;
    
}
.menu a:hover{
    color: #ffb96c;
    border: 2px solid #ffb96c;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    .menu{
        padding: 10px 0px;
    }
}
/******************************** Estilos Header ********************************/


/******************************** Main ********************************/
main{
    flex-grow: 1;
}

.quien_soy{
    padding: 20px 100px;
    text-align: left;
}

.experiencia{
    padding: 20px 100px;
    text-align: left;
}
.experiencia .p1{
    width: 50%;
}

.experiencia .div_habilidades{
    width: 33.33%;
    float: left;
}
/******************************** Main ********************************/


/******************************** Footer ********************************/
.contacto .contacto_div{
    display: flex;
    justify-content: center;
}

/******************************** Footer ********************************/