*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c3b8b8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Estilos Header */
header{
    display: flex;
    min-height: 70px;
    /* background-color: rgb(47, 15, 112); */
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px 10px 10px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 70px;
    margin-right: 10px;
}
.logo h2{
    color: black;
}

.menu a{
    color: black;
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
}
.menu a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    .menu{
        padding: 10px 0px;
    }
}
/* Estilos Header */

main{
    flex-grow: 1;
}

/* Quien Soy */
.quien_soy{
    padding: 20px 100px;
    text-align: left;
}
/* Quien Soy */

/* experiencia */
.experiencia{
    padding: 20px 100px;
    text-align: left;
}
.experiencia .p1{
    width: 500px;
}

.experiencia .div_habilidades{
    width: 33.33%;
    float: left;
}

/* experiencia */

